/*Text*/
* {
    font-family: "Lato", sans-serif;
}

h1{
    color:black;
    font-family: "Lato", sans-serif;
        color: azure;
    text-shadow: 1px 1px 1px #000000;
}
h2 {
    color: skyblue;
    font-family: "Unlock", cursive;
        color: azure;
    text-shadow: 1px 1px 1px #000000;
}

p {
    font-family: "Lato", sans-serif;
    color: azure;
    text-shadow: 1px 1px 1px #000000;
}

p2 {
    font-family: "Lato", sans-serif;
    color: azure;
    text-shadow: 1px 1px 1px #000000;
}

h3,
h4 {
    text-decoration: underline;
    font-family: 'Unlock', cursive;
    color: azure;
    text-shadow: 1px 1px 1px #000000;
}

.btn {
    font-family: "Unlock";
}

/*estructura contenidor imatges*/



/*Estructura*/
.contenidor {
    width: 75%;
    padding: 24px;
    
    margin: auto;
  
}


.contenidor2 {
    width: 100%;
    margin: auto;
      box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexgrow {
    flex: 1 200px;
}

.mostra {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 5px solid grey;
    text-align: center;
}

/*Color de links*/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    background: yellow;
}

a:active {
    color: lime;
}



/*Color*/
.body {
    background-color: url("/imagenes/carpetes/dibuix_amb_tablet/montanya1.jpg");
}

.color1a {
    background: red;
}


}
.ombra {
    text-shadow: 2px 2px 5px #555555;
}

    a: hover {
        text-decoration: underline;
        font-style: italic;
        background: blue;
        color: white;
    }

    a:visited {
        color: grey;
    }

    /*Imatge*/
    
    .image2 {
        width: 100%;
        margin:  auto;
        
    }

/*video*/
 .wrapper {    
            width: 80%;    
            margin: auto;   
            display: flex;
            justify-content: center;
        }   
        .video 
        {    width: 100%;   
        }  
/*desplegable*/
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
    text-align:center;
}

.navegacion ul{
    list-style: none;
}
.MenuDes > li{
    position: relative;
    display: inline-block;
}
.MenuDes > li > a{
    display: block;
    padding: 10px;
    color: #353535;
    font-family: cursive;
    text-decoration: none;  
}
.MenuDes > li a:hover{
    color:aqua;
    transition: all .5s;
     
}


/*submenu*/

.SubMenuDes{
    position:absolute;
    background: #333333;
    width: 100px;
    display:none;
}
.SubMenuDes li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:"Lato", sans-serif;
    text-decoration: none;
}
.MenuDes li:hover .SubMenuDes{
     display: block;
}
/*Imatge*/

.imatge {
    margin: 10px;
    
}
.image2{
  opacity: 0.5;
  filter: alpha(opacity=25); /* For IE8 and earlier */
}



















